<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-danger">
      <h4 class="alert-heading">
        Welcome to Ruby Chat!
      </h4>

      <p>
        Please enjoy your stay.
      </p>

      <hr />

      <p>
        You can create a room or join an existing one from the left sidebar.
      </p>
    </div>
</div>
